// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  //margin-bottom: 5%;
    background-image: url(../img/UpdatedBanner.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-color: #000;
    height:650px;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 150px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 70px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}


.masthead1 {
  text-align: center;
  background-image: url(../img/about/Debates_Jordan.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  height: 600px;
  margin-bottom: 5%;
}

header.masthead1 .intro-text {
  padding-top: 120px;
  padding-bottom: 120px;
}

header.masthead1 .intro-text .intro-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 25px;
  font-family: montserrat,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

header.masthead1 .intro-text .intro-lead-in {
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
  margin-bottom: 10px;
  font-family: 'droid serif',-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
